$font-increase: 0px;

//BUTTONS
$button-default: #4a8dff;
$button-hover: #3b77e0;
$button-active: #2f65c5;
$button-disabled: #cbd5e1;

//ACCENT
$teal-accent: #ffee00;
$soft-coral: #ff6f61;
$lavender: #d0c4f7;
$cyan: #00bcd4;

//PRIMARY
$primary-background: #0b3b75;
$primary-accent: #3f70c0;
$primary-select: #7fa5d8;

//NEUTRAL
$background-white: #fff;
$background-grey: #d9d9d9;
$background-border: #d0d0d0;
$background-black: #1f1f1f;
$background-light-grey: #03011f0d;
