.technicCardContent {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 19px 20px 19px 30px;
  background-color: #52b6f6;
  border-radius: 50px;
  color: $background-white;
  text-transform: lowercase;
  font-size: 20px;
  justify-content: space-between;
}
.technicCard {
  max-width: 413px;
}
.technicCardImage {
  width: 152px;
  height: 214px;
  border-radius: 10px;
  img {
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.technicCardText {
  h4 {
    word-break: break-all;
    text-transform: capitalize;
  }
  max-width: 170px;
}
